html {
  position: relative;
  min-height: 100%;
}

body {
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url(images/wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin: 0 0 100px;
  font-family: "Roboto", sans-serif !important;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  display: auto !important;
}

.links {
  padding-right: 2rem !important;
  color: #ffffff;
}
a:hover {
  color: grey !important;
  text-decoration: none !important;
}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}
.nav {
  height: 100% !important;
}
.letra {
  font-size: 1.8rem;
  font-weight: 500;
}
.letralinks {
  font-size: 1rem;
  font-weight: 300;
}
p:first-child span {
  background-color: #f5de50;
  padding: 0.5rem;
  border-radius: 50%;
}
p:nth-child(2) span {
  background-color: #ff0000;
  padding: 0.5rem;
  border-radius: 50%;
}
p:nth-child(3) span {
  background-color: #8f8f8f;
  padding: 0.5rem;
  border-radius: 50%;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}
td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1) {
    overflow: hidden;
  }
  td:nth-of-type(2):before {
    content: "Seeder";
  }
  td:nth-of-type(3):before {
    content: "Leecher";
  }
  td:nth-of-type(4):before {
    content: "Tamaño";
  }
}
