html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.minheight {
  min-height: calc(100vh - 40px) !important;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}
